.faq_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-height: 600px;
  background-color: #484283;
  padding: 60px;
}

.faq_container {
  width: 100%;
  max-width: 880px;
  max-height: 508px;
}

.faq_headline {
  font-family: Jost, sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  line-height: 56px;
  margin-bottom: 20px;
}
