@import "../../ui/variables.scss";

.btn_default {
  max-width: 220px;
  max-height: 62px;
  text-wrap: nowrap;

  background-color: $button-color;
  color: $primary-color;
  border-radius: 4px;
  border: none;
  padding: 20px 50px;

  font-family: Jost, sans-serif;
  font-size: 16px;
  line-height: 22px;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn_default:hover {
  background-color: $button-hover-color;
}

.btn_default:disabled {
  background-color: #f8afaf;
  cursor: not-allowed;
}
