.hero {
  background-color: #484283;
  height: 500px;
  border-top: 1px solid #fff;
  font-family: Jost, sans-serif;
}

.title {
  width: 517px;
  height: 100px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
}
