@import "../../../ui/variables.scss";

.cart_item {
  display: flex;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $bg-fade;
    cursor: pointer;
  }
}

.cart_item_wrapper {
  display: flex;
  place-items: center;
  padding: 12px;
  width: 696px;
  max-height: 124px;
  gap: 24px;
  @media (max-width: $phone-width) {
    max-width: 300px;
    max-height: fit-content;
    gap: 10px;
  }

  @media ((min-width: $phone-width) and (max-width: $tablet-width)) {
    padding: 0;
    max-width: calc(85vw - 2rem);
    gap: 0px;
    place-items: center;
  }

  @media (width < 1200px) {
    max-width: calc(90vw - 2rem);
    height: fit-content;
    place-items: center;
  }
}

.cart_left_container {
  display: flex;
  place-items: center;
  gap: 10px;
  width: 362px;
  @media (max-width: $phone-width) {
    max-width: 300px;
    gap: 10px;
  }
}

.cart_item_pic {
  max-width: 100px;
}

.cart_item_text {
  display: flex;
  flex-direction: column;
  max-width: 252px;
}

.cart_item_heading {
  font-size: 16px;

  @media ((max-width: $phone-width)) {
    font-size: 12px;
  }
}

.cart_item_price {
  font-size: 18px;
}

.cart_right_container {
  display: flex;
  place-items: center;
  gap: 48px;
  max-width: 286px;
  font-size: 14px;
  color: $accent-color;

  @media (max-width: $phone-width) {
    gap: 8px;
    flex-direction: column;
  }

  @media ((min-width: $phone-width) and (max-width: $tablet-width)) {
    gap: 0;
    flex-direction: column;
    width: 100%;
  }
}

.cart_btn_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 188px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;

    @media (max-width: $phone-width) {
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: $phone-width) {
    flex-direction: column;
    gap: 0;
  }

  @media ((min-width: $phone-width) and (max-width: $tablet-width)) {
    gap: 1rem;
    max-width: 200px;
    height: fit-content;
  }
}
