.price_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.price_container {
  display: flex;
  max-width: 620px;
  background-color: #0000001c;
  gap: 89px;
  border-radius: 0.2rem;
  max-height: 86px;
  place-items: center;
  padding: 12px;
}

.price_wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.price_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newprice {
  font-family: Jost, sans-serif;
  color: #444b58;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}

.oldprice {
  font-family: Jost, sans-serif;
  color: #646464;
  font-size: 16px;
  line-height: 20px;
  text-decoration: line-through;
}

.discount {
  display: flex;
  align-items: center;
  font-family: Jost, sans-serif;
  color: #444b58;
  font-size: 16px;
  line-height: 24px;
}

.discount_number {
  font-family: Jost, sans-serif;
  color: #444b58;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
