@import "../../ui/variables.scss";

.product_wrapper {
  display: flex;
  place-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.product_container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1180px;
  max-height: fit-content;
  gap: 40px;
  margin-top: 50px;
  @media (max-width: $phone-width) {
    flex-direction: column;
    max-width: 300px;
    max-height: fit-content;
  }

  @media ((min-width: $phone-width) and (max-width: $tablet-width)) {
    flex-direction: column;
    padding: 0 1rem;
    max-height: fit-content;
  }

  @media (width < 1200px) {
    flex-direction: column;
    gap: 1rem;
    max-height: fit-content;
    margin-bottom: 2rem;
  }
}

.product_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
  max-height: fit-content;
  max-width: 620px;
  padding: 0 1rem;
  @media ((min-width: $phone-width) and (max-width: $tablet-width)) {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    max-height: fit-content;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 440px;
  }
}

.product_info_title {
  font-family: Jost, sans-serif;
  font-size: 36px;
  line-height: 56px;
  max-width: 620px;
  font-weight: 600;
  margin-bottom: -6px;

  @media (width < 1200px) {
    margin-top: 2rem;
  }
}

.product_info_ratings {
  display: flex;
  gap: 7.5px;
  svg {
    cursor: pointer;
    width: 17px;
    height: 17px;
  }
}

.product_info_stats_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: -8px;
  @media (max-width: $phone-width) {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0;
  }

  @media ((min-width: $phone-width) and (max-width: $tablet-width)) {
    gap: 1rem;
  }
}

.product_info_categories {
  font-family: Jost, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.product_info_stock_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product_info_stock {
  font-family: Jost, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #f14f4f;
}

.product_info_description {
  font-family: Jost, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444b58;
}

.product_info_subtitles {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product_info_warranty,
.product_info_shipping {
  font-family: Jost, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #646464;
}
